{% include 'header.html' %}
{% load static %}
{% block content %}

      <section class="register">
        <center><h3 style="padding:10px">Check Your Result</h3></center>
        <form action="check-result" method="post">{% csrf_token %}
              <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" value="" name="email" required>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="testId" class="col-sm-2 col-form-label">Test ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="testId" value="" name="code" required>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="testId" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="testId" value="" name="password" required>
                </div>
              </div>
              <div style="color:red;padding:10px"><center>{{error}}</center></div>
              <center><button class="btn btn-success" type="submit">Check Result</button></center>
        </form>
      </section>

{% endblock %}