{% include 'header.html' %}
{% load static %}
{% block content %}

      <section class="container" style="padding:20px;background-color: white;margin-top: 30px;border-radius: 20px;">
        <center><h3>Result - {{code}}.</h3></center><hr>
        <div class="table-responsive">
        <table class="table table-striped">
          <tr class="success">
            <th>Sr. No.</th>
            <th>Name </th>
            <th>Email</th>
            <th>Score</th>
            <th>Responses</th>
          </tr>
        {% for stud in students %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{stud.name}} </td>
              <td>{{stud.email}}</td>
              <td>{{stud.score}} / {{total}}</td>
              <td><a href="{% url 'result' external_id=stud.external_id code=code %}"><button class="btn btn-warning">View</button></a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
          
        <div style="color:red">
            <center>Note : This Result may or may not be saved in the PORTAL. 
            Take the Print of this page for any Future Reference.<br>
            <button style="margin:10px" class="btn btn-info" onclick="window.print();return false;">Print</button>
            </center>
        </div>
      
      </section>

{% endblock %}